[Desktop Entry]
Encoding=UTF-8
Name=Link to ※ 月球粉色的那面 - The Pink Side of the Moon - YouTube
Type=Link
URL=https://www.youtube.com/playlist?list=PL6I0rBQiUczeDG0YEVmFrHi1QjnhTUqdX
Icon=text-html
Name[en_US]=playlist
