[Desktop Entry]
Encoding=UTF-8
Name=Link to lyrics.md
Type=Link
URL=https://mg138.github.io/Translating/4everfreebrony/The_Dreamer's_Door/01-Chant_of_Immortality/lyrics.md
Icon=text-html
Name[en_US]=lyrics.md
